<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../font/fontawesome-free-6.2.0-web/css/all.css">
    <title>Home main</title>
</head>

<body>
    <header>
        <div class="top-header">
            <div class="logo-header">
                <img src="../img/icon-logo.jpg" alt="">
            </div>
            <div class="search">
                <input type="text" name="search" width="200px">
                <label for="search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </label>
            </div>
            <div class="right-header">
                <ul>
                    <li><a href="./login.html"><i class="fas fa-right-to-bracket"></i></i>Login</a></li>
                    <li><a href="./register.html"><i class="fas fa-user-plus"></i>Register</a></li>
                    <li><a href="#">
                            <i class="fa-solid fa-cart-plus"></i>Cart</a></li>
                </ul>
            </div>
        </div>
    </header>
    <section class="container menu-header">
        <ul class="header-menu">
            <li style="color:red;display: inline-block;"><a href="#">Home</a></li>
            <li><a href="#">Cherry</a>
                <ul class="header-subMenu">
                    <li><a href="#">Nho</a></li>
                    <li><a href="#">Xoài </a>
                        <ul class="header-subMenu">
                            <li><a href="#">Xoài xanh </a></li>
                            <li><a href="#">Xoài cát </a></li>
                            <li><a href="#">Xoài úc </a></li>
                        </ul>
                    </li>
                    <li><a href="#">Sub menu1 </a></li>
                </ul>
            </li>
            <li><a href="#">Thanh long</a></li>
            <li><a href="#">Sầu riêng</a></li>
            <li><a href="#">Táo</a></li>
            <li><a href="#">More</a></li>
        </ul>
    </section>
    <section class="container detai_prod_title">
        <h2 class="detai_prod_title">
        </h2>
        <div class="container detail_poduct">
            <div class="img_product">
                <div class="img_prod_main">
                    <img src="../img/le-vang.JPG" />
                </div>
                <div class="img_prod_sub">
                    <ul>
                        <li><a><img src="../img/le-nam-phi.jpg" /></a></li>
                        <li><a><img src="../img/le-nam-phi.jpg" /></a></li>
                        <li><a><img src="../img/le-nam-phi.jpg" /></a></li>
                        <li><a><img src="../img/le-nam-phi.jpg" /></a></li>
                    </ul>
                </div>
            </div>
            <div class="info_product">
                <div class="info_prod_name">
                    <h2 class="info_prod_name">Lê vàng</h2>
                </div>
                <div class="info_prod_intro">
                    <p>Hoa hồng Pháp Cepheus có đặc điểm là cây bụi cao, có các cành nhánh mọc thoáng nên rất ít khi
                        bị
                        nấm
                        bệnh, bé này cả màu. Bện cạnh đó là các ưu điểm như là rất sai hoa và kháng bệnh tốt, khả
                        năng
                        thích
                        nghi vói điều kiện khí hậu Việt Nam.</p>
                    <p>Hoa lên tiếng cho sự thinh lặng, hoa là sứ giả cho tình yêu và sự khát khao. Hãy để Điện Hoa
                        Thủ
                        Đô thay bạn gửi tới những người bạn yêu thương nhé!</p>
                </div>
                <div class="button_adds"><span>Số lượng :</span>
                    <input type="button" class="minus is-form" value="-">
                    <input aria-label="quantity" type="number" class="input-qty" max="100" min="0" name="" value="1">
                    <input type="button" class="plus is-form" value="+">
                </div>
                <div class="info_product_price">
                    Gía bán : 200.000VNĐ
                </div>
                <div class="info_product_descrip">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At rerum alias optio beatae accusantium,
                        recusandae consequatur, temporibus tenetur provident amet facere. Culpa ab facilis fugiat
                        distinctio dolores ad molestiae quia.</p>
                    <div class="btn btn_cart">
                        <input type="button" value="Add cart">
                        <input type="button" value="Mua ngay">
                    </div>
                </div>
            </div>
    </section>
    <section>
        <div class="container similar-prod products">
            <h2>Similar products</h2>
            <div class="list-product">
                <!-- start -->
                <div class="item">
                    <div class="product">
                        <div class="info-prod">
                            <div class="img-prod">
                                <a href="../layouts/detai-product.html"><img src="../img/cherry.jpg" /></a>
                            </div>
                            <h3>Name</h3>
                            <div class="des-prod">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            </div>
                            <div class="rate-prod">
                                <span><i class="fa-regular fa-star"></i></span>
                                <span><i class="fa-regular fa-star"></i></span>
                                <span><i class="fa-regular fa-star"></i></span>
                                <span><i class="fa-regular fa-star"></i></span>
                                <span><i class="fa-regular fa-star-half"></i></i></span>
                            </div>
                            <div class="price-prod">
                                <span>200.000 VNĐ</span><span>200.000 VNĐ</span>
                            </div>

                        </div>
                        <div class="add-cart">
                            <button><i class="fas fa-cart-plus"></i></button>
                            <button>Mua ngay</i></span>
                        </div>
                    </div>
                </div>
                <!-- end  -->
                <!-- start -->
                <div class="item">
                    <div class="product">
                        <div class="info-prod">
                            <div class="img-prod">
                                <a href="../layouts/detai-product.html"><img src="../img/cherry.jpg" /></a>
                            </div>
                            <h3>Name</h3>
                            <div class="des-prod">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            </div>
                            <div class="rate-prod">
                                <span><i class="fa-regular fa-star"></i></span>
                                <span><i class="fa-regular fa-star"></i></span>
                                <span><i class="fa-regular fa-star"></i></span>
                                <span><i class="fa-regular fa-star"></i></span>
                                <span><i class="fa-regular fa-star-half"></i></i></span>
                            </div>
                            <div class="price-prod">
                                <span>200.000 VNĐ</span><span>200.000 VNĐ</span>
                            </div>

                        </div>
                        <div class="add-cart">
                            <button><i class="fas fa-cart-plus"></i></button>
                            <button>Mua ngay</i></span>
                        </div>
                    </div>
                </div>
                <!-- end  -->
                <!-- start -->
                <div class="item">
                    <div class="product">
                        <div class="info-prod">
                            <div class="img-prod">
                                <a href="../layouts/detai-product.html"><img src="../img/cherry.jpg" /></a>
                            </div>
                            <h3>Name</h3>
                            <div class="des-prod">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            </div>
                            <div class="rate-prod">
                                <span><i class="fa-regular fa-star"></i></span>
                                <span><i class="fa-regular fa-star"></i></span>
                                <span><i class="fa-regular fa-star"></i></span>
                                <span><i class="fa-regular fa-star"></i></span>
                                <span><i class="fa-regular fa-star-half"></i></i></span>
                            </div>
                            <div class="price-prod">
                                <span>200.000 VNĐ</span><span>200.000 VNĐ</span>
                            </div>

                        </div>
                        <div class="add-cart">
                            <button><i class="fas fa-cart-plus"></i></button>
                            <button>Mua ngay</i></span>
                        </div>
                    </div>
                </div>
                <!-- end  -->
                 <!-- start -->
                 <div class="item">
                    <div class="product">
                        <div class="info-prod">
                            <div class="img-prod">
                                <a href="../layouts/detai-product.html"><img src="../img/cherry.jpg" /></a>
                            </div>
                            <h3>Name</h3>
                            <div class="des-prod">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            </div>
                            <div class="rate-prod">
                                <span><i class="fa-regular fa-star"></i></span>
                                <span><i class="fa-regular fa-star"></i></span>
                                <span><i class="fa-regular fa-star"></i></span>
                                <span><i class="fa-regular fa-star"></i></span>
                                <span><i class="fa-regular fa-star-half"></i></i></span>
                            </div>
                            <div class="price-prod">
                                <span>200.000 VNĐ</span><span>200.000 VNĐ</span>
                            </div>

                        </div>
                        <div class="add-cart">
                            <button><i class="fas fa-cart-plus"></i></button>
                            <button>Mua ngay</i></span>
                        </div>
                    </div>
                </div>
                <!-- end  -->
                 <!-- start -->
                <div class="item">
                    <div class="product">
                        <div class="info-prod">
                            <div class="img-prod">
                                <a href="../layouts/detai-product.html"><img src="../img/cherry.jpg" /></a>
                            </div>
                            <h3>Name</h3>
                            <div class="des-prod">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            </div>
                            <div class="rate-prod">
                                <span><i class="fa-regular fa-star"></i></span>
                                <span><i class="fa-regular fa-star"></i></span>
                                <span><i class="fa-regular fa-star"></i></span>
                                <span><i class="fa-regular fa-star"></i></span>
                                <span><i class="fa-regular fa-star-half"></i></i></span>
                            </div>
                            <div class="price-prod">
                                <span>200.000 VNĐ</span><span>200.000 VNĐ</span>
                            </div>

                        </div>
                        <div class="add-cart">
                            <button><i class="fas fa-cart-plus"></i></button>
                            <button>Mua ngay</i></span>
                        </div>
                    </div>
                </div>
                <!-- end  -->
            </div>
        </div>
    </section>
    <section class="hot-news">
        <h2>Hot news</h2><br>
        <!-- start news -->
        <div class="news-item">
            <a href="#">
                <div class="news-img">
                    <img src="../img/nho-den.JPG" height="120px" />
                </div>
                <div class="news-info">
                    <h3>Nho đen Mỹ</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex aspernatur, eligendi, voluptatem
                        blanditiis
                        asperiores veritatis saepe repudiandae ratione ipsam dolorum voluptatibus velit inventore?
                        Deleniti esse
                        ad ipsa eveniet accusamus mollitia.</p>
                </div>
            </a>
            <hr>
        </div>

        <!-- end news -->
        <!-- start news -->
        <div class="news-item">
            <a href="#">
                <div class="news-img">
                    <img src="../img/nho-den.JPG" height="120px" />
                </div>
                <div class="news-info">
                    <h3>Nho đen Mỹ</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex aspernatur, eligendi, voluptatem
                        blanditiis
                        asperiores veritatis saepe repudiandae ratione ipsam dolorum voluptatibus velit inventore?
                        Deleniti esse
                        ad ipsa eveniet accusamus mollitia.</p>
                </div>
            </a>
            <hr>
        </div>
        <!-- end news -->


    </section>
    <footer>
        <div class="contact">
            <h2>Liên Hệ</h2>
            <ol>
                <li><a href="#">Địa chỉ : 289 Minh khai, Q. Bắc Từ Liêm, Hà Nội</a></li>
                <li><a href="#">SĐT : 036715281289</a></li>
                <li><a href="#"><i class="fa-brands fa-github"></i> https:/nhung/github.com</a></li>
                <li><a href="#">email : fruitFresh@gmail.com</a></li>
                <li><a href="#">website : htttp:/freshfriut.vn</a></li>
            </ol>
            <ul>
                <li>
                    <span><i class="fa-brands fa-square-twitter"></i></span>
                    <span><i class="fa-brands fa-facebook"></i></span>
                    <span><i class="fa-brands fa-youtube"></i></span>
                </li>
            </ul>
        </div>
        <div class="assistant">
            <h2>Chính Sách</h2>
            <ul>
                <li><a href="#">Chính sách bảo hành.</a></li>
                <li><a href="#">Chính sách đổi trả</a></li>
                <li><a href="#">Chính sách xử lý khiếu nại</a></li>
                <li><a href="#">Chính sách bảo mật thông tin</a></li>
                <li><a href="#">Chính sách thanh toán</a></li>
                <li><a href="#">Chính sách vận chuyển</a></li>
            </ul>
        </div>
        <div class="purchase">
            <h2>Thanh toán</h2>
            <ul>
                <span><a href=""><img src="../img/contact4.png"></a></span>
                <span><a href=""><img src="../img/contact2.png"></a></span>
                <span><a href=""><img src="../img/contact3.png"></a></span>
                <span><a href=""><img src="../img/visa.png"></a></span>
            </ul>
        </div>
        <div class="google-map">
            <h2>Vị trí</h2>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.527322620672!2d105.73582430026107!3d21.05159088591729!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454f79fd137b7%3A0x656d4311d5baa961!2zQ2jhu6MgTmd1ecOqbiBYw6EsIE1pbmggS2hhaSwgVOG7qyBMacOqbSwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1663665841842!5m2!1svi!2s"
                width="300" height="250" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </footer>
</body>

</html>