<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../font/fontawesome-free-6.2.0-web/css/all.css">
    <title>Home main</title>
</head>

<body>
    <header>
        <div class="top-header">
            <div class="logo-header">
                <img src="../img/icon-logo.jpg" alt="">
            </div>
            <div class="search">
                <input type="text" name="search" width="200px">
                <label for="search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </label>
            </div>
            <div class="right-header">
                <ul>
                    <li><a href="./login.html"><i class="fas fa-right-to-bracket"></i></i>Login</a></li>
                    <li><a href="./register.html"><i class="fas fa-user-plus"></i>Register</a></li>
                    <li><a href="#">
                            <i class="fa-solid fa-cart-plus"></i>Cart</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="container register-page">
        <div class="form-register">
            <fieldset>
                <legend>
                    <h2>Thông tin đăng ký </h2>
                </legend>

                <div class="form-control">
                    <label for="fullname">Name</label>
                    <input type="text" name="fullname" placeholder=" Input name" />
                </div>
                <div class="form-control">
                    <label for="email">Email</label>
                    <input type="email" name="email" placeholder=" Input email" />
                </div>
                <div class="form-control">
                    <label for="password">Password</label>
                    <input type="password" name="password" placeholder=" Input password" />
                </div>
                <div class="form-control">
                    <label for="confirm-password">Confirm password</label>
                    <input type="password" name="confirm-password" placeholder=" Confirm password" />
                </div>
                <div class="btn btn-register">
                    <button type="submit">register</button>
                    <button type="reset">Cancel</button>
                </div>
            </fieldset>
        </div>
        <div class="note-register">
            <h3>Khách hàng đã đăng ký</h3>
            <hr>
            <p>Trở thành thành viên của FRESHFRUIT, là bạn đã gia nhập vào dòng vận động liên tục của mobile marketing. Trong
                môi trường năng động như vậy, có một người đồng hành cùng bạn tiến lên phía trước là điều tất yếu. Chúng
                tôi chính là người đồng hành đó của bạn. Chúng tôi đã phát triển hàng loạt các chương trình, dữ liệu, và
                hoạt động để chắc chắn rằng thành viên của chúng tôi được hưởng nhiều quyền lợi nhất, doanh nghiệp của
                họ phát triển bền vững nhất, và chương trình mobile marketing của họ luôn thành công. Sau đây là một số
                điểm nhấn mà chúng tôi khuyến khích các bạn nên tham khảo.</p>
            <button type="submit"><a href="./login.html" style="color: #000;">Đăng nhập</a></button>
        </div>
    </div><hr>
    <section class="hot-news">
        <h2>Hot news</h2><br>
        <!-- start news -->
        <div class="news-item">
            <a href="#">
                <div class="news-img">
                    <img src="../img/nho-den.JPG" height="120px" />
                </div>
                <div class="news-info">
                    <h3>Nho đen Mỹ</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex aspernatur, eligendi, voluptatem blanditiis
                        asperiores veritatis saepe repudiandae ratione ipsam dolorum voluptatibus velit inventore? Deleniti esse
                        ad ipsa eveniet accusamus mollitia.</p>
                </div>
            </a> <hr>
        </div>
       
        <!-- end news -->
        <!-- start news -->
        <div class="news-item">
            <a href="#">
                <div class="news-img">
                    <img src="../img/nho-den.JPG" height="120px" />
                </div>
                <div class="news-info">
                    <h3>Nho đen Mỹ</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex aspernatur, eligendi, voluptatem blanditiis
                        asperiores veritatis saepe repudiandae ratione ipsam dolorum voluptatibus velit inventore? Deleniti esse
                        ad ipsa eveniet accusamus mollitia.</p>
                </div>
            </a><hr>
        </div> 
        <!-- end news -->
        <!-- start news -->
        <div class="news-item">
            <a href="#">
                <div class="news-img">
                    <img src="../img/nho-den.JPG" height="120px" />
                </div>
                <div class="news-info">
                    <h3>Nho đen Mỹ</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex aspernatur, eligendi, voluptatem blanditiis
                        asperiores veritatis saepe repudiandae ratione ipsam dolorum voluptatibus velit inventore? Deleniti esse
                        ad ipsa eveniet accusamus mollitia.</p>
                </div>
            </a><hr>
        </div> 
        <!-- end news -->
        <!-- start news -->
        <div class="news-item">
            <a href="#">
                <div class="news-img">
                    <img src="../img/nho-den.JPG" height="120px" />
                </div>
                <div class="news-info">
                    <h3>Nho đen Mỹ</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex aspernatur, eligendi, voluptatem blanditiis
                        asperiores veritatis saepe repudiandae ratione ipsam dolorum voluptatibus velit inventore? Deleniti esse
                        ad ipsa eveniet accusamus mollitia.</p>
                </div>
            </a><hr>
        </div> 
        <!-- end news -->
    </section>
    <footer>
        <div class="contact">
            <h2>Liên Hệ</h2>
            <ol>
                <li><a href="#">Địa chỉ : 289 Minh khai, Q. Bắc Từ Liêm, Hà Nội</a></li>
                <li><a href="#">SĐT : 036715281289</a></li>
                <li><a href="#"><i class="fa-brands fa-github"></i> https:/nhung/github.com</a></li>
                <li><a href="#">email : fruitFresh@gmail.com</a></li>
                <li><a href="#">website : htttp:/freshfriut.vn</a></li>
            </ol>
            <ul>
                <li>
                    <span><i class="fa-brands fa-square-twitter"></i></span>
                    <span><i class="fa-brands fa-facebook"></i></span>
                    <span><i class="fa-brands fa-youtube"></i></span>
                </li>
            </ul>
        </div>
        <div class="assistant">
            <h2>Chính Sách</h2>
            <ul>
                <li><a href="#">Chính sách bảo hành.</a></li>
                <li><a href="#">Chính sách đổi trả</a></li>
                <li><a href="#">Chính sách xử lý khiếu nại</a></li>
                <li><a href="#">Chính sách bảo mật thông tin</a></li>
                <li><a href="#">Chính sách thanh toán</a></li>
                <li><a href="#">Chính sách vận chuyển</a></li>
            </ul>
        </div>
        <div class="purchase">
            <h2>Thanh toán</h2>
            <ul>
                <span><a href=""><img src="../img/contact4.png"></a></span>
                <span><a href=""><img src="../img/contact2.png"></a></span>
                <span><a href=""><img src="../img/contact3.png"></a></span>
                <span><a href=""><img src="../img/visa.png"></a></span>
            </ul>
        </div>
        <div class="google-map">
            <h2>Vị trí</h2>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.527322620672!2d105.73582430026107!3d21.05159088591729!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454f79fd137b7%3A0x656d4311d5baa961!2zQ2jhu6MgTmd1ecOqbiBYw6EsIE1pbmggS2hhaSwgVOG7qyBMacOqbSwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1663665841842!5m2!1svi!2s"
                width="300" height="250" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </footer>
    </section>

</html>