<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>Chi tiết sản phẩm</title>
</head>

<body>
    <header>
        <div class="container container-header">
            <div class="logo">
                <img src="../images/icon-logo.png" />
            </div>
            <div class="btn btn_search">
                <input type="text" placeholder="Search" /><i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="login">
                <ul class="menu_header_right">
                    <li><a href="../layouts/Signin.html">
                            <i class="fa-solid fa-user-group"></i>
                        </a></li>
                    <li> <a href="../layouts/Signup.html">
                            <i class="fa-solid fa-user-plus"></i>
                        </a></li>
                    <li><a href="../layouts/shoppingCart.html">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a></li>

                </ul>
            </div>
        </div>
    </header>
    <section class="container detai_prod_title">
        <h2 class="detai_prod_title">
        </h2>
        <div class="container detail_poduct">
            <div class="img_product">
                <div class="img_prod_main">
                    <img src="../images/image1.png" />
                </div>
                <div class="img_prod_sub">
                    <ul>
                        <li><a><img src="../images/image1.png" /></a></li>
                        <li><a><img src="../images/image2.png" /></a></li>
                        <li><a><img src="../images/image3.png" /></a></li>
                        <li><a><img src="../images/image4.png" /></a></li>
                    </ul>
                </div>
            </div>
            <div class="info_product">
                <div class="info_prod_name">
                    <h2 class="info_prod_name">Hoa hồng pháp</h2>
                </div>
                <div class="info_prod_intro">
                    <p>Hoa hồng Pháp Cepheus có đặc điểm là cây bụi cao, có các cành nhánh mọc thoáng nên rất ít khi
                        bị
                        nấm
                        bệnh, bé này cả màu. Bện cạnh đó là các ưu điểm như là rất sai hoa và kháng bệnh tốt, khả
                        năng
                        thích
                        nghi vói điều kiện khí hậu Việt Nam.</p>
                    <p>Hoa lên tiếng cho sự thinh lặng, hoa là sứ giả cho tình yêu và sự khát khao. Hãy để Điện Hoa
                        Thủ
                        Đô thay bạn gửi tới những người bạn yêu thương nhé!</p>
                </div>
                <div class="button_adds"><span>Số lượng :</span>
                    <input type="button" class="minus is-form" value="-">
                    <input aria-label="quantity" type="number" class="input-qty" max="100" min="0" name="" value="1">
                    <input type="button" class="plus is-form" value="+">
                </div>
                <div class="info_product_price">
                    Gía bán : 200.000VNĐ
                </div>
                <div class="info_product_size">
                    <span>Size</span>
                    <ul>
                        <li><a href="">S</a></li>
                        <li><a href="">M</a></li>
                        <li><a href="">L</a></li>
                        <li><a href="">XL</a></li>
                    </ul>
                </div>
                <div class="btn btn_cart">
                    <input type="button" value="Add cart">
                    <input type="button" value="Mua ngay">
                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <h3>Bạn có thể thích</h3>
        <!-- START  -->
        <div class="prod_like">
            <div class="item">
                <div class="product">
                    <div class="img_product">
                        <a href="../layouts/Detail_Product.html"><img src="../images/image3.png" /></a>
                    </div>
                </div>
                <div class="product_desc">
                    <h2>Cotton blen</h2>
                    <span>$200.00 USD</span>
                    <span>$100.00 USD</span>
                    <div class="detail_cart">
                        <div class="detail_add_cart">
                            <i class="fa-solid fa-cart-plus"></i>
                            <input type="button" class="add" value="Add cart" />
                        </div>
                        <div class="detail_buy_now">
                            <input type="button" class="buy" value="Mua ngay" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- END  -->
            <!-- START  -->
            <div class="item">
                <div class="product">
                    <div class="img_product">
                        <a href="../layouts/Detail_Product.html"><img src="../images/image1.png" /></a>
                    </div>
                </div>
                <div class="product_desc">
                    <h2>Cotton blen</h2>
                    <span>$200.00 USD</span>
                    <span>$100.00 USD</span>
                    <div class="detail_cart">
                        <div class="detail_add_cart">
                            <i class="fa-solid fa-cart-plus"></i>
                            <input type="button" class="add" value="Add cart" />
                        </div>
                        <div class="detail_buy_now">
                            <input type="button" class="buy" value="Mua ngay" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- END  -->
            <!-- START  -->
            <div class="item">
                <div class="product">
                    <div class="img_product">
                        <a href="../layouts/Detail_Product.html"><img src="../images/image2.png" /></a>
                    </div>
                </div>
                <div class="product_desc">
                    <h2>Cotton blen</h2>
                    <span>$200.00 USD</span>
                    <span>$100.00 USD</span>
                    <div class="detail_cart">
                        <div class="detail_add_cart">
                            <i class="fa-solid fa-cart-plus"></i>
                            <input type="button" class="add" value="Add cart" />
                        </div>
                        <div class="detail_buy_now">
                            <input type="button" class="buy" value="Mua ngay" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- END  -->
            <!-- START  -->
            <div class="item">
                <div class="product">
                    <div class="img_product">
                        <a href="../layouts/Detail_Product.html"><img src="../images/image4.png" /></a>
                    </div>
                </div>
                <div class="product_desc">
                    <h2>Cotton blen</h2>
                    <span>$200.00 USD</span>
                    <span>$100.00 USD</span>
                    <div class="detail_cart">
                        <div class="detail_add_cart">
                            <i class="fa-solid fa-cart-plus"></i>
                            <input type="button" class="add" value="Add cart" />
                        </div>
                        <div class="detail_buy_now">
                            <input type="button" class="buy" value="Mua ngay" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- END  -->
            <!-- START  -->

            <div class="item">
                <div class="product">
                    <div class="img_product">
                        <a href="../layouts/Detail_Product.html"><img src="../images/image3.png" /></a>
                    </div>
                </div>
                <div class="product_desc">
                    <h2>Cotton blen</h2>
                    <span>$200.00 USD</span>
                    <span>$100.00 USD</span>
                    <div class="detail_cart">
                        <div class="detail_add_cart">
                            <i class="fa-solid fa-cart-plus"></i>
                            <input type="button" class="add" value="Add cart" />
                        </div>
                        <div class="detail_buy_now">
                            <input type="button" class="buy" value="Mua ngay" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- END  -->
            <!-- START  -->

            <div class="item">
                <div class="product">
                    <div class="img_product">
                        <a href="../layouts/Detail_Product.html"><img src="../images/image3.png" /></a>
                    </div>
                </div>
                <div class="product_desc">
                    <h2>Cotton blen</h2>
                    <span>$200.00 USD</span>
                    <span>$100.00 USD</span>
                    <div class="detail_cart">
                        <div class="detail_add_cart">
                            <i class="fa-solid fa-cart-plus"></i>
                            <input type="button" class="add" value="Add cart" />
                        </div>
                        <div class="detail_buy_now">
                            <input type="button" class="buy" value="Mua ngay" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- END  -->
            <!-- START  -->

            <div class="item">
                <div class="product">
                    <div class="img_product">
                        <a href="../layouts/Detail_Product.html"><img src="../images/image3.png" /></a>
                    </div>
                </div>
                <div class="product_desc">
                    <h2>Cotton blen</h2>
                    <span>$200.00 USD</span>
                    <span>$100.00 USD</span>
                    <div class="detail_cart">
                        <div class="detail_add_cart">
                            <i class="fa-solid fa-cart-plus"></i>
                            <input type="button" class="add" value="Add cart" />
                        </div>
                        <div class="detail_buy_now">
                            <input type="button" class="buy" value="Mua ngay" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- END  -->
        </div>
        </div>
    </section>
    <footer>
        <div class="contact_link">
            <h2>MODEX</h2>
            <div class="links">
                <ul>
                    <li><a href="#">
                            <i class="fa-brands fa-facebook"></i>
                        </a></li>
                    <li><a href="#">
                            <i class="fa-brands fa-twitter-square"></i>
                        </a></li>
                    <li><a href="#">
                            <i class="fa-brands fa-youtube"></i>
                        </a></li>
                    <li><a href="#">
                            <i class="fa-brands fa-instagram"></i>
                        </a></li>
                </ul>
            </div>
        </div>
        <div class="contact_info">
            <div class="channel">
                <ul>
                    <li><a href="#">MAN</a></li>
                    <li><a href="#">WOMAN</a></li>
                    <li><a href="#">LOOKBOK</a></li>
                    <li><a href="#">SALE</a></li>
                    <li><a href="#">BLOG</a></li>
                </ul>
            </div>
            <div class="submit_info">
                <h2>SUBSCRIBE TO NEWS</h2>
                <span>
                    <input type="text" placeholder="Email Adress" />
                </span>
                <span>
                    <input type="submit" value="Submit" />
                </span>
            </div>
        </div>
        <div class="contact_method">
            <h2>CONTACT US</h2>
            <p>
                San Francisco, California 400 Castro St, San Francisco, CA (+1)
            </p>
            <P>
                San Francisco, California 400 Castro St, San Francisco, CA (+1)
            </p>
            <div class="links">
                <ul>
                    <li><a href="#">
                            <img src="../images/visa.png" />
                        </a></li>
                    <li><a href="#">
                            <img src="../images/contact2.png" />
                        </a></li>
                    <li><a href="#">
                            <img src="../images/contact3.png" />
                        </a></li>
                    <li><a href="#">
                            <img src="../images/contact4.png" />
                        </a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>