<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>Shopping Cart</title>
</head>

<body>
    <header>
        <div class="container container-header">
            <div class="logo">
                <img src="../images/icon-logo.png" />
            </div>
            <div class="btn btn_search">
                <input type="text" placeholder="Search" /><i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="login">
                <ul class="menu_header_right">
                    <li><a href="../layouts/Signin.html">
                            <i class="fa-solid fa-user-group"></i> NhungPP
                        </a></li>
                    <li><a href="#">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a></li>
                </ul>
            </div>
        </div>
    </header>
    <main class="container main_page_shoppingCart">
        <div id="title_cart">Giỏ hàng của bạn</div>
        <div class="products">
            <!-- Start  -->
            <div class="row">
                <div class="info-product">
                    <a class="img_prod" href="">
                        <img src="../images/image12.png">
                    </a>
                    <div class="info">
                        <h3 class="prod_name"><a href=""> Gerberas</a></h3>
                        <p class="price">220.000đ</p>
                        <p class="brand">Loại : Gerberas</p>
                    </div>
                </div>
                <div class="price_1sp">
                    <div class="quatity">
                        <button type="button" class="btn-cong">+</button>
                        <input type="text" class="input_sl" value="1" />
                        <button type="button" class="btn-tru">-</button>
                    </div>
                    <div class="total_1sp">
                        100.000đ
                    </div>
                    <button type="button" class="btn-delete">Xóa</button>
                </div>
            </div>
            <!-- End  -->
            <!-- Start  -->
            <div class="row">
                <div class="info-product">
                    <a class="img_prod" href="">
                        <img src="../images/image3.png">
                    </a>
                    <div class="info">
                        <h3 class="prod_name"><a href="">White Lilies </a></h3>
                        <p class="price">250.000đ</p>
                        <p class="brand">Loại : Gerberas</p>
                    </div>
                </div>
                <div class="price_1sp">

                    <div class="quatity">
                        <button type="button" class="btn-cong">+</button>
                        <input type="text" class="input_sl" value="1" />
                        <button type="button" class="btn-tru">-</button>
                    </div>
                    <div class="total_1sp">
                        100.000đ
                    </div>
                    <button type="button" class="btn-delete">Xóa</button>
                </div>
            </div>
            <!-- End  -->
            <!-- Start  -->
            <div class="row">
                <div class="info-product">
                    <a class="img_prod" href="">
                        <img src="../images/image10.png">
                    </a>
                    <div class="info">
                        <h3 class="prod_name"><a href="">Gerberas</a></h3>
                        <p class="price">100.000đ</p>
                        <p class="brand">Loại: Gerberas</p>
                    </div>
                </div>
                <div class="price_1sp">

                    <div class="quatity">
                        <button type="button" class="btn-cong">+</button>
                        <input type="text" class="input_sl" value="1" />
                        <button type="button" class="btn-tru">-</button>
                    </div>
                    <div class="total_1sp">
                        100.000đ
                    </div>
                    <button type="button" class="btn-delete">Xóa</button>
                </div>
            </div>
            <!-- End  -->
            <!-- Start  -->
            <div class="row">
                <div class="info-product">
                    <a class="img_prod" href="">
                        <img src="../images/image1.png">
                    </a>
                    <div class="info">
                        <h3 class="prod_name"><a href="">Gerberas</a></h3>
                        <p class="price">150.000đ</p>
                        <p class="brand">Loại: Gerberas</p>
                    </div>
                </div>
                <div class="price_1sp">

                    <div class="quatity">
                        <button type="button" class="btn-cong">+</button>
                        <input type="text" class="input_sl" value="1" />
                        <button type="button" class="btn-tru">-</button>
                    </div>
                    <div class="total_1sp">
                        200.000đ
                    </div>

                    <button type="button" class="btn-delete">Xóa</button>
                </div>
            </div>
            <!-- End  -->
            <!-- Start  -->
            <div class="row">
                <div class="info-product">
                    <a class="img_prod" href="">
                        <img src="../images/imag13.png">
                    </a>
                    <div class="info">
                        <h3 class="prod_name"><a href="">Rose</a></h3>
                        <p class="price">100.000đ</p>
                        <p class="brand">Loại: Gerberas</p>
                    </div>
                </div>
                <div class="price_1sp">

                    <div class="quatity">
                        <button type="button" class="btn-cong">+</button>
                        <input type="text" class="input_sl" value="1" />
                        <button type="button" class="btn-tru">-</button>
                    </div>
                    <div class="total_1sp">
                        300.000đ
                    </div>
                    <button type="button" class="btn-delete">Xóa</button>
                </div>
            </div>
            <!-- End  -->
        </div>
        </div>
        <div class="cart_total">
            <span>Tổng sản phẩm : 5</span>
            <span>Tổng Tiền : 1.200.000 VNĐ</span>
            <button type="button">Mua hàng</button>
        </div>
    </main>
    <section class="container">
        <h3>Bạn có thể thích</h3>
        <!-- START  -->
        <div class="prod_like">
            <div class="item">
                <div class="product">
                    <div class="img_product">
                        <a href="../layouts/Detail_Product.html"><img src="../images/image3.png" /></a>
                    </div>
                </div>
                <div class="product_desc">
                    <h2>Cotton blen</h2>
                    <span>$200.00 USD</span>
                    <span>$100.00 USD</span>
                    <div class="detail_cart">
                        <div class="main_add_cart">
                            <button class="btn btn_add">
                                <i class="fa-solid fa-cart-plus"></i> Add cart
                            </button>
                        </div>
                        <div class="main_buy_now">
                              <button class="btn btn_buy" >Mua ngay</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END  -->
            <!-- START  -->
            <div class="item">
                <div class="product">
                    <div class="img_product">
                        <a href="../layouts/Detail_Product.html"><img src="../images/image3.png" /></a>
                    </div>
                </div>
                <div class="product_desc">
                    <h2>Cotton blen</h2>
                    <span>$200.00 USD</span>
                    <span>$100.00 USD</span>
                    <div class="detail_cart">
                        <div class="detail_add_cart">
                            <i class="fa-solid fa-cart-plus"></i>
                            <input type="button" class="add" value="Thêm vào giỏ" />
                        </div>
                        <div class="detail_buy_now">
                            <input type="button" class="buy" value="Mua ngay" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- END  -->
            <!-- START  -->
            <div class="item">
                <div class="product">
                    <div class="img_product">
                        <a href="../layouts/Detail_Product.html"><img src="../images/image3.png" /></a>
                    </div>
                </div>
                <div class="product_desc">
                    <h2>Cotton blen</h2>
                    <span>$200.00 USD</span>
                    <span>$100.00 USD</span>
                    <div class="detail_cart">
                        <div class="detail_add_cart">
                            <i class="fa-solid fa-cart-plus"></i>
                            <input type="button" class="add" value="Thêm vào giỏ" />
                        </div>
                        <div class="detail_buy_now">
                            <input type="button" class="buy" value="Mua ngay" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- END  -->
            <!-- START  -->
            <div class="item">
                <div class="product">
                    <div class="img_product">
                        <a href="../layouts/Detail_Product.html"><img src="../images/image3.png" /></a>
                    </div>
                </div>
                <div class="product_desc">
                    <h2>Cotton blen</h2>
                    <span>$200.00 USD</span>
                    <span>$100.00 USD</span>
                    <div class="detail_cart">
                        <div class="detail_add_cart">
                            <i class="fa-solid fa-cart-plus"></i>
                            <input type="button" class="add" value="Thêm vào giỏ" />
                        </div>
                        <div class="detail_buy_now">
                            <input type="button" class="buy" value="Mua ngay" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- END  -->
            <!-- START  -->

            <div class="item">
                <div class="product">
                    <div class="img_product">
                        <a href="../layouts/Detail_Product.html"><img src="../images/image3.png" /></a>
                    </div>
                </div>
                <div class="product_desc">
                    <h2>Cotton blen</h2>
                    <span>$200.00 USD</span>
                    <span>$100.00 USD</span>
                    <div class="detail_cart">
                        <div class="detail_add_cart">
                            <i class="fa-solid fa-cart-plus"></i>
                            <input type="button" class="add" value="Thêm vào giỏ" />
                        </div>
                        <div class="detail_buy_now">
                            <input type="button" class="buy" value="Mua ngay" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- END  -->
            <!-- START  -->

            <div class="item">
                <div class="product">
                    <div class="img_product">
                        <a href="../layouts/Detail_Product.html"><img src="../images/image3.png" /></a>
                    </div>
                </div>
                <div class="product_desc">
                    <h2>Cotton blen</h2>
                    <span>$200.00 USD</span>
                    <span>$100.00 USD</span>
                    <div class="detail_cart">
                        <div class="detail_add_cart">
                            <i class="fa-solid fa-cart-plus"></i>
                            <input type="button" class="add" value="Thêm vào giỏ" />
                        </div>
                        <div class="detail_buy_now">
                            <input type="button" class="buy" value="Mua ngay" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- END  -->
            <!-- START  -->

            <div class="item">
                <div class="product">
                    <div class="img_product">
                        <a href="../layouts/Detail_Product.html"><img src="../images/image3.png" /></a>
                    </div>
                </div>
                <div class="product_desc">
                    <h2>Cotton blen</h2>
                    <span>$200.00 USD</span>
                    <span>$100.00 USD</span>
                    <div class="detail_cart">
                        <div class="detail_add_cart">
                            <i class="fa-solid fa-cart-plus"></i>
                            <input type="button" class="add" value="Thêm vào giỏ" />
                        </div>
                        <div class="detail_buy_now">
                            <input type="button" class="buy" value="Mua ngay" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- END  -->
        </div>
        </div>
    </section>
    <footer>
        <div class="contact_link">
            <h2>MODEX</h2>
            <div class="links">
                <ul>
                    <li><a href="#">
                            <i class="fa-brands fa-facebook"></i>
                        </a></li>
                    <li><a href="#">
                            <i class="fa-brands fa-twitter-square"></i>
                        </a></li>
                    <li><a href="#">
                            <i class="fa-brands fa-youtube"></i>
                        </a></li>
                    <li><a href="#">
                            <i class="fa-brands fa-instagram"></i>
                        </a></li>
                </ul>
            </div>
        </div>
        <div class="contact_info">
            <div class="channel">
                <ul>
                    <li><a href="#">MAN</a></li>
                    <li><a href="#">WOMAN</a></li>
                    <li><a href="#">LOOKBOK</a></li>
                    <li><a href="#">SALE</a></li>
                    <li><a href="#">BLOG</a></li>
                </ul>
            </div>
            <div class="submit_info">
                <h2>SUBSCRIBE TO NEWS</h2>
                <span>
                    <input type="text" placeholder="Email Adress" />
                </span>
                <span>
                    <input type="submit" value="Submit" />
                </span>
            </div>
        </div>
        <div class="contact_method">
            <h2>CONTACT US</h2>
            <p>
                San Francisco, California 400 Castro St, San Francisco, CA (+1)
            </p>
            <P>
                Payment information
            </p>
            <P>
                Contact information
            </p>
            <P>
                Reserves information
            </p>
            <div class="links">
                <ul>
                    <li><a href="#">
                            <img src="../images/visa.png" />
                        </a></li>
                    <li><a href="#">
                            <img src="../images/contact2.png" />
                        </a></li>
                    <li><a href="#">
                            <img src="../images/contact3.png" />
                        </a></li>
                    <li><a href="#">
                            <img src="../images/contact4.png" />
                        </a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>